{% extends 'v2/base.html' %} {% load static %}

{% block content %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque">O'quv <span>kurslari</span></h1>
                    <nav class="wow fadeInUp">
                        
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Page Projects Start -->
<div class="page-projects">
<div class="container">
    <div class="row">	


        {% for get in courses %}
            <div class="col-lg-4 col-md-6">
                <div class="post-entry-1 h-100">
                    <a class="thumbnail-link">
                        <img src="/media/{{ get.image }}" alt="Image" style="max-height: 200px;min-height: 200px;" class="img-fluid">
                    </a>
                    <div class="post-entry-1-contents">

                        <h2>
                            {% if username is None %}
                            <a href="{% url 'login' %}">
                            {% else %}
                            <a href="{% url 'course' pk=get.id %}">
                            {% endif %}
                                {{ get.name }}</a></h2>
                        <span class="meta d-inline-block mb-3"> <span class="mx-2">by</span> <a >D.Fayziyeva</a></span>
                        <p>
                            IT sohasidagi bilim va ko'nikmalaringizni oshirish imkoniyatini qo'ldan boy bermang
                        </p>
                        <p>
                            {% if username is None %}
                            <a href="{% url 'login' %}" class="readmore-btn">
                            {% else %}
                            <a href="{% url 'course' pk=get.id %}" class="readmore-btn">
                            {% endif %}
                                Boshlash</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}

    </div>
</div>
</div>
<!-- Page Projects End -->

<!-- Scrolling Ticker Section Start -->
<div class="our-scrolling-ticker footer-scrolling-ticker">
    <!-- Scrolling Ticker Start -->
    <div class="scrolling-ticker-box">
        <div class="scrolling-content">
            <span><img src="{% static 'v2/c++.png' %}" alt=""></span>
            <span><img src="{% static 'v2/go.png' %}" alt=""></span>
            <span><img src="{% static 'v2/java.png' %}" alt=""></span>
            <span><img src="{% static 'v2/js.png' %}" alt=""></span>
            <span><img src="{% static 'v2/python.png' %}" alt=""></span>
            <span><img src="{% static 'v2/ruby.png' %}" alt=""></span>
            <span><img src="{% static 'v2/c++.png' %}" alt=""></span>
            <span><img src="{% static 'v2/go.png' %}" alt=""></span>
            <span><img src="{% static 'v2/java.png' %}" alt=""></span>
            <span><img src="{% static 'v2/js.png' %}" alt=""></span>
            <span><img src="{% static 'v2/python.png' %}" alt=""></span>
            <span><img src="{% static 'v2/ruby.png' %}" alt=""></span>
            <span><img src="{% static 'v2/c++.png' %}" alt=""></span>
            <span><img src="{% static 'v2/go.png' %}" alt=""></span>
            <span><img src="{% static 'v2/java.png' %}" alt=""></span>
            <span><img src="{% static 'v2/js.png' %}" alt=""></span>
            <span><img src="{% static 'v2/python.png' %}" alt=""></span>
            <span><img src="{% static 'v2/ruby.png' %}" alt=""></span>
        </div>

        <div class="scrolling-content">
            <span><img src="{% static 'v2/c++.png' %}" alt=""></span>
            <span><img src="{% static 'v2/go.png' %}" alt=""></span>
            <span><img src="{% static 'v2/java.png' %}" alt=""></span>
            <span><img src="{% static 'v2/js.png' %}" alt=""></span>
            <span><img src="{% static 'v2/python.png' %}" alt=""></span>
            <span><img src="{% static 'v2/ruby.png' %}" alt=""></span>
            <span><img src="{% static 'v2/c++.png' %}" alt=""></span>
            <span><img src="{% static 'v2/go.png' %}" alt=""></span>
            <span><img src="{% static 'v2/java.png' %}" alt=""></span>
            <span><img src="{% static 'v2/js.png' %}" alt=""></span>
            <span><img src="{% static 'v2/python.png' %}" alt=""></span>
            <span><img src="{% static 'v2/ruby.png' %}" alt=""></span>
            <span><img src="{% static 'v2/c++.png' %}" alt=""></span>
            <span><img src="{% static 'v2/go.png' %}" alt=""></span>
            <span><img src="{% static 'v2/java.png' %}" alt=""></span>
            <span><img src="{% static 'v2/js.png' %}" alt=""></span>
            <span><img src="{% static 'v2/python.png' %}" alt=""></span>
            <span><img src="{% static 'v2/ruby.png' %}" alt=""></span>
        </div>
    </div>
</div>
<!-- Scrolling Ticker Section End -->
{% endblock %}